{% extends "base2.html" %} {% block title %}Home{% endblock %} {% block content
%}
<form method="POST">
  <div align="center"><h3>SMILES mode</h3>
  If you don't have a SMILES string or melting point, type 'n' (without quotation marks) in either field.
  <br />
  We recommend using both for best accuracy.</div><br />
    <div align="center" class="form-group">
    <label for="smiles">SMILES</label>
    <input
      type="smiles"
      class="form-control"
      size="30"
      id="smiles"
      name="smiles"
      placeholder="Enter SMILES string"
    />
  </div>
  <br />
  <div align="center" class="form-group">
    <label for="Tm">Tm</label>
    <input
      type="Tm"
      class="form-control"
      size="30"
      id="Tm"
      name="Tm"
      placeholder="Enter melting temperature"
    />
  <br />
  <br />
  <button type="submit" class="btn btn-primary">Start calculation</button>
</div>
</form>
{% endblock %}
