{% extends "base2.html" %} {% block title %}No smiles mode{% endblock %} {% block content %}
<form method="POST">
  <div align="center"><h3 >No SMILES mode</h3>
  If you don't have a melting point, type 'n' (without quotation marks) in the Tm field.
  <br />
  However, we recommend using the SMILES mode if no Tm is available.
  <br />
  <a href="{{url_for('info')}}">Click here to get a detailed description of the input variables.</a>
  </div><br />
  <div align="center" class="form-group">
    <label for="CH3">CH3</label>
    <input
      type="CH3"
      class="form-control"
      size="50"
      id="CH3"
      name="CH3"
      placeholder="Enter number of CH3 groups"
    />
  </div><br />
  <div align="center" class="form-group">
    <label for="CH2">CH2</label>
    <input
      type="CH2"
      class="form-control"
      size="50"
      id="CH2"
      name="CH2"
      placeholder="Enter number of CH2 groups"
    />
  </div><br />  
  <div align="center" class="form-group">
    <label for="CH">CH</label>
    <input
      type="CH"
      class="form-control"
      size="50"
      id="CH"
      name="CH"
      placeholder="Enter number of CH groups"
    />
  </div><br />
  <div align="center" class="form-group">
    <label for="C">C</label>
    <input
      type="C"
      class="form-control"
      size="70"
      id="C"
      name="C"
      placeholder="Enter number of C atoms that were not included in the previous fields"
    />  
  </div><br />
  <div align="center" class="form-group">
    <label for="OH">OH</label>
    <input
      type="OH"
      class="form-control"
      size="50"
      id="OH"
      name="OH"
      placeholder="Enter number of OH groups"
    />
  </div><br />
  <div align="center" class="form-group">
    <label for="COC">COC</label>
    <input
      type="COC"
      class="form-control"
      size="50"
      id="COC"
      name="COC"
      placeholder="Enter number of ether groups"
    />  
  </div><br />
  <div align="center" class="form-group">
    <label for="C=O">C=O</label>
    <input
      type="C=O"
      class="form-control"
      size="50"
      id="C=O"
      name="C=O"
      placeholder="Enter number of doubly bonded oxygen atoms"
    />
  </div><br />
    <div align="center" class="form-group">
    <label for="N">N</label>
    <input
      type="N"
      class="form-control"
      size="50"
      id="N"
      name="N"
      placeholder="Enter number of nitrogen atoms"
    />  
  </div><br />
  <div align="center" class="form-group">
    <label for="Hal">Hal</label>
    <input
      type="Hal"
      class="form-control"
      size="50"
      id="Hal"
      name="Hal"
      placeholder="Enter enter number of halogen atoms"
    />
  </div><br />
  <div align="center" class="form-group">
    <label for="DBE">DBE</label>
    <input
      type="DBE"
      class="form-control"
      size="50"
      id="DBE"
      name="DBE"
      placeholder="Enter double bond equivalent"
    />  
  </div><br />
  <div align="center" class="form-group">
    <label for="Tm">Tm</label>
    <input
      type="Tm"
      class="form-control"
      size="50"
      id="Tm"
      name="Tm"
      placeholder="Enter melting temperature in K"
    />
  
  <br />
  <br />
  <button type="submit" class="btn btn-primary">start calculation</button>
</div>
</form>
{% endblock %}
